{
    Filter = {
        Bundles = (
            "com.apple.springboard",
            "com.apple.MediaRemoteUI",
            "com.apple.chronod",
            "com.apple.chrono.WidgetRenderer-Default",
            "com.apple.chrono.WidgetRenderer-CarPlay",
            "com.apple.ClockAngel",
            "com.apple.InCallService"
        );
    };
}
